.headerImg {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPpLWYvkmRWVPEr1fRQYCiNFY2gXYuq24DTEcznQ97hUqeZpcr);
	height: 45vh;
}

.profileImg {
	display: block;
    border-radius: 200px;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    background-color: #DDD;
    border: 5px solid #cfd8dc;
    margin: 0 auto;
    margin-top: -8em;
}

main {
	margin-bottom: 10em;
}

.material-icons, .icon-text {
	vertical-align: middle;
}